body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background: rgb(0,28,48);
  background: linear-gradient(90deg, rgba(0,28,48,1) 0%, rgba(13,55,84,1) 48%, rgba(0,28,48,1) 100%);
  color: #ffffff; /* White text */
}

a{
  text-decoration: none;
  color: #ffbb00;
}
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align left */
  justify-content: center;
  height: 100vh;
  padding-left: 60px; /* Add more space from the left edge */
  padding-right: 60px; /* Add more space from the right edge */
  position: relative; /* Add positioning */
}

.hamburger {
  position: fixed;
  top: 40px;
  right: 70px; /* Move the hamburger further to the right */
  width: 45px;
  height: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  cursor: pointer;
  z-index: 999;
}

.line {
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  transition: all 0.3s ease;
}

.hamburger.active .line:nth-child(1) {
  transform: translateY(3px) rotate(45deg);
  background-color: rgb(21, 134, 179); /* Blue */
}

.hamburger.active .line:nth-child(2) {
  opacity: 0;
}

.hamburger.active .line:nth-child(3) {
  transform: translateY(-14px) rotate(-45deg);
  background-color: rgb(21, 134, 179); /* Blue */
}
.particles-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.logo {
  position: absolute;
  bottom: 20px;
  align-items: center;
  left: 33%;
}

.logo img {
  width: 120px; /* Adjust the width and height as needed */
  height: 120px;
  opacity: 0.6;
}
.hero-title {
  font-size: 7rem; /* Increase the font size */
  line-height: 100px;
  font-weight: bold;
  color: #ffffff; /* White title */
  text-align: left; /* Align left */
  margin-bottom: 0px; /* Reduce the space between title and paragraph */
}

.tagline {
  display: block;
  width: 55rem;
  font-size: 1.5rem;
  text-align: left; /* Align left */
  margin: 0 0 0 10px;
}

.get-started{
  width: 55rem;
  font-size: 1.5rem;
  text-align: left; /* Align left */
  margin: 10px 0 0 10px;
}

.call-to-action {
  display: inline-block;
  font-size: 18px;
  text-align: left; /* Align left */
  cursor: pointer; /* Add cursor pointer */
  position: relative; /* Add relative positioning */
  left: 30px;
}

.bounce {
  display: inline-block;
  background-color: white;
  font-size: 50px;
  text-align: center;
  color: rgb(21, 134, 179);
  border-radius: 20px;
  padding: 5px 7px 14px;
  margin: 0 auto;
  opacity: 0.8;
  transition: all 0.3s ease-in-out;
  position: relative;
  top: 0;
  animation: bounce 0.5s ease-out infinite alternate;
  text-decoration: none;
}
.bounce:hover {
  opacity: 1;
  cursor: pointer ;
}

@keyframes bounce {
  0 {
    top: 0;
    color: #fff;
  }
  100% {
    top: 8px;
    color: #80e7f5;
  }
}


.call-to-action:hover {
  color: rgb(6, 75, 136);
  transition: 0.5s;
}
.social-media {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center; /* Vertically center the icons and line */
}

.social-media::before,
.social-media::after {
  content: "";
  flex-grow: 1;
  height: 1px;
  background-color: #ffffff;
  margin: 0 32px;
}

.social-media a {
  color: #ffffff;
  font-size: 1.3rem;
  margin: 0 12px 0 12px;
}


.sidebar {
  position: fixed;
  top: 0;
  right: -250px;
  width: 250px;
  height: 100vh;
  background-color: #ffffff; /* White background */
  transition: all 0.3s ease;
  z-index: 1;
  overflow-y: auto;
  border-top-left-radius: 40px; /* Rounded top-left corner */
  border-bottom-left-radius: 40px; /* Rounded bottom-left corner */
}

.sidebar-active {
  right: 0;
}

.sidebar-menu {
  font-size: 5rem;
  list-style: none;
  margin-top: 100px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: right;
}

.sidebar-menu li {
  text-decoration: none;
  cursor: pointer; /* Add cursor pointer */
  font-size: 1.2rem; /* Larger font size */
  line-height: 4rem;
  font-weight: bold;
  cursor: pointer;
  border-bottom: 1px solid #ccc; /* Add a thin line between menu items */
  text-align: right;
}

.sidebar-menu li a {
  color: rgb(4, 80, 110);
  text-decoration: none;
}

.section-product {
  background-color: #001C30; /* White background */
  padding: 60px;
  display: flex;
  align-items: center;
}

.product-content {
  color: rgb(255, 255, 255);
  flex: 2;
}

.section-title {
  font-size: 2.5rem;
  color: #faa200;
  margin-bottom: 20px;
}

.product-paragraph {
  font-size: 1.2rem;
}

.product-image {
  flex: 1;
  text-align: right;
}

.product-image img {
  max-width: 100%;
  height: auto;
}

.on-new-line-for-mobile {
  display: none;
}

@media screen and (max-width: 768px) {
  .get-started {
    line-break: anywhere;
  }

  .on-new-line-for-mobile {
    display: inline-block;
    width: 100%;
  }
  .hamburger {
    top: 20px;
    right: 20px;
  }

  .hero-title{
    font-size: 4rem;
    line-height: 4rem;
  }

  .tagline{
    display: none;
  }
  .sidebar-menu li{
    font-size: 1.3rem;
  }
  
  .tagline{
    width: 300px;
  }

  .call-to-action{
    padding: 7px 10px;
  }

  .logo {
    top: 10px;
    left: 10px;
  }

  .social-media {
    font-size: 1rem;
  }

  .section-product {
    padding: 30px;
  }
  .product-image {
    display: none;
  }

  /* Center-align the title and paragraph */
  .product-content {
    text-align: center;
    max-width: 500px;
  }

  .section-title {
    font-size: 2rem;
  }

  .product-paragraph {
    font-size: 1rem;
  }
}